body {
    background-color: black;
    color: white;
}
.d-flex {
    display: flex;
}
.d-column {
    flex-direction: column;
}
.d-center {
    justify-content: center;
}
.grow1 {
    flex: 1;
}
.grow2 {
    flex: 2;
}
#filmPage {
    display: none;
}
#mRating {
  
}
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.cardStyle {
    height: 350px;
    width: 200px;
    border: 3px solid rgb(70, 69, 69);
    background-color: rgb(70, 69, 69);
    border-radius: 15px;
    margin: 30px;
}

.commentStyle {
    padding: 15px;
    margin-top: 10px;
  
    border-radius: 15px;
    background-color: rgb(66, 66, 4);
}
#mTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.name {
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}
.m-5 {
    margin: 10px;
}
.movieStyle {
    border: 3px solid rgb(70, 69, 69);
    background-color: rgb(70, 69, 69);
    border-radius: 10px;
}
#cardImg {
    border: 3px solid black;
}
.m-20 {
    margin: 20px;
}
