

.d-flex {
    display: flex;
}
.d-center {
    justify-content: center;
}
.grow1 {
    flex: 1;
}
.grow2 {
    flex: 2;
}
#filmPage {
    display: none;
}
#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.cardStyle {
    height: 350px;
    width: 200px;
    border: 3px solid grey;
    border-radius: 15px;
    margin: 30px;
}

#mTitle {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.name {
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}
.m-5 {
    margin: 10px;
}
.movieStyle {
    border: 3px solid gray;
    border-radius: 10px;
}
.m-20 {
    margin: 20px;
}
